.card-container{
    width: 300px;
    overflow: visible;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
    font-family: 'Helvetica';
    border-radius: 10px;
    transition: 0.5s;
}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 7px rgb(255, 255, 255);
}

.image-container img{
    overflow: hidden; 
    height: 200px;
    padding: 15px 0px 0px 0px;
    border-radius: px;
}

.card-title
{
    padding: 0px 0px 15px 0px;
    font-family: "DISTGRG_-webfont";
    text-align: center;
}

.card-body{
    font-size: 14px;
    padding: 0px 0px 15px 20px;
    text-align: left;
}

.button-holder{
    width: 105%;
    display: flex;
    justify-content: end;
    overflow:visible;
}

delete-button{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

favorite-button{
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}